
.idea/xcode.xml

.idea/workspace.xml

.idea/vcs.xml

.idea/scopes/scope_settings.xml

.idea/modules.xml

.idea/misc.xml

.idea/find.xml

.idea/encodings.xml

.idea/dictionaries/mk.xml

.idea/KartinaX.TV.iml

.idea/.name
